* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    font-family: 'DM Sans', sans-serif;
}
.container {
    margin: auto;
    max-width: 1440px !important;
    padding: 0 0px ;
}
.swiper-container > .swiper-wrapper > .swiper-slide {
    width: 370px;
}
.header {
    background-color: #005b57;
}
.top-header {
    text-align: center;
    background-color: #005b57;
    color: #ffffff;
    padding: 19px 0;
    letter-spacing: 1px;
}

.top-header > p > i {
    color: #f9f871;
    height: 16px;
    width: 16px;
    letter-spacing: 0.6px;
    opacity: 0.5;
}
#timeremaining {
    color: #f9f871;
    font-weight: bold;
}
.bg-sleep-health {
    background-image: url(../img/Rectangle\ 1_2021-06-21/a.png);
    background-size: contain;
    padding-bottom: 150px;
    padding-left: -19px;
    background-repeat: no-repeat;
}
.bg-sleep-health .row > .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}
.good-sleep {
    padding-top: 155.5px;
}
.good-sleep > .zone-good-sleep {
    margin-left: 70px;
}

.good-sleep-health {
    color: #005b57;
    font-size: 72px;
    /* letter-spacing: -0.72; */
    font-style: italic;
    line-height: 1.22;
}
.good-sleep-health > h4 {
    letter-spacing: 1px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}
.good-sleep-health-text {
    font-style: normal;
}
.good-sleep-text {
    font-size: 22px;
    max-width: 500px;
    font-weight: normal;
    line-height: 1.64;
    text-align: left;
    color: #263a39;
    padding-bottom: 40px;
    padding-top: 28px;
}
.btn-buy > button {
    background-color: #20bab1;
    color: #ffffff;
    border: none;
    padding: 20.5px 96px 20.5px;
    cursor: pointer;
}
.btn-buy > button:hover {
    opacity: 0.8;
    
}
.method-pay {
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.method-pay > p{
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: left;
    color: #263a39;
    margin-right: 16px;
}

.mask-content {
    padding-top: 241px;
    padding-left: 135px;
    padding-bottom: 236px;
    color: #005b57;

}
.mask-content-header {
    color: #005b57;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 40px;
    line-height: 1.4;
    max-width: 416px;
}
.mask-content-text {
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #005b57;
}
.mask-img {
    padding-left: 70px;
    padding-top: 80px;
}

.deeply {
    background-color: #ddebe5;
    padding-bottom: 75px;
}
.any-where > img {
    width: 76.4%;
    height: 6.6%;
    padding: 60px 135px;
}
.col-increase {
    
}
.increase {
    
}
.increase-content {
    color: #263a39;
    font-size: 20px;
    margin-left: 205px;
    padding-top: 91px;

}
.increase-content-header{
    font-size: 40px;
    color: #005b57;
    padding: 28px 60px 38px 61px;
    line-height: 1.4;
}
.increase-content-icon {
    text-align: center;
}
.increase-content-icon > img {
    width: 64px;
    height: 64px;
    padding-top: 100px;
}
.increase-img > img {
    width: 100%;
    max-width: 470px;
    padding-top: 58px;
    padding-left: 105px;
}
.increase-content-text {
    text-align: center;
    line-height: 1.6;
    font-size: 21px;
    max-width: 500px;
}


.anyposition {
    text-align: center;
}
.col-anyposition {
    display: flex;
    justify-content: flex-start;
}
.anyposition-content {
    color: #263a39;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
div > .anyposition-content-fix {
    padding-top: 20px;
}
.image-contest > img {
    margin-top: 80px;
}
.image-context > img {
    margin-top: 55px;
}
.anyposition-content-header{
    font-size: 40px;
    color: #005b57;
    text-align: center;
    padding-top: 35px;
    line-height: 1.4;
}
.anyposition-content-icon > img {
    width: 64px;
    height: 64px;
    padding-top: 185px;
}
.anyposition-img > img {
    margin-left: 135px;
}
.anyposition-content-text {
    font-size: 21px;
    line-height: 1.6;
    max-width: 500px;
    text-align: center;
    padding-top: 40px;
}
.main-sleep{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.34;
    margin-top: 4px;
}
.deep-sleep {
    background-color: #20bab1;
    text-align: center;
    color: #ffffff;
    padding-bottom: 40px;
}
.deep-sleep-qa > h2 {
    font-size: 64px;
}
.deep-sleep-qa > p {
    font-size: 64px;
    font-style: italic;
    font-weight: 300;
    opacity: 0.8;
}

.deep-sleep-qa {
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 40px;
}
.deep-sleep-text > p {
    opacity: 0.9;
    font-size: 16px;
    line-height: 1.67;
}
.pay-buy {
    padding-top: 40px;
    padding-bottom: 18px;
}
.pay-buy > button {
    background-color: #ffffff;
    color: #263a39;
    border: none;
    padding: 20.5px 95px 20.5px;
}
.pay-sleep {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: -12px;
    padding-bottom: 40px;
}
.benefit {
    background-color: #f8fbfa;
    color: #005b57;
    padding-top: 64px;
    padding-bottom: 34px;
}
.what-benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 170px;
}

.what-benefit-header > h4 {
    font-size: 40px;
    text-align: left;
    padding-top: 180px;
    padding-left: 78px;
    max-width: 270px;
    line-height: 1.4;
    margin-bottom: 42px;
}

.what-benefit-text > p {
    font-size: 22px;
    line-height: 1.64;
    text-align: left;
    max-width: 300px;
    padding-left: 105px;
    line-height: 1.64;
}
.icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0;
    padding: 58px 0;
    padding-left: 68px;
}
.icon > .row {
    margin-bottom: 76px;
}
.icon > .row:last-child{
    margin-bottom: 0;
}
.card-icon {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    /* justify-content: center; */
    text-align: center;
    padding: 0px 32px 30px;
    box-shadow: 0 24px 36px 0 rgb(0 91 87 / 7%);
    /* margin: 45px 25px */
}

.icon-img > i {
    font-size: 64px !important;
    color:#21bab1;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    position: relative;
    top: -31px;
}
.header-icon {
    margin-bottom: 27px;
}
.header-icon > h3 {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark);
}
.sub-icon-img > p {
    max-width: 306px;
    font-size: 18px;
    text-align: center;
    line-height: 1.67;
}
.suitable {
    padding-bottom: 80px;
    margin-top: -8px;
}
.suitable-header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.4;
    color: #005b57;
    margin: 80.9px 0 40px 0;
}
.card-suitable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 118px;
    background-color: #ffffff;
    object-fit: contain;
}

.suitable-image > p {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 8px 90px 8px 91px;
    text-align: center;
    margin-top: -50px;
    overflow: hidden;
    margin-bottom: 3px;
    top: -20px;
    background-color: #ffffff;
}
.product {
    border-top: 1px solid #eeeeee;
}
.product-image {
    padding: 288px 93px 377px 137px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-intro {
    padding-right: 115px;
    margin-left: -20px;
    padding-top: 4px;
}
.product-sleep-mask > p {
    color: #20bab1;
    padding-top: 84px;
    font-size: 16px;
    text-align: left;
    letter-spacing: 2px;
    margin: -5px 13px 8px 0;
    font-weight: bold;
}
.product-title {
    max-width: 470px;
}
.product-title > p {
    font-size: 24px;
    line-height: 1.67;
    color: #000000;
    text-align: left;
    font-weight: bold;
    margin: 8px 0px 16px 0;
}
.product-rate > p {
    color: #fdb01a;
    font-size: 24px;
    margin: 16px 8px 24px 0;
}

.product-price {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    line-height: 1;
    text-align: left;
    font-weight: bold;
}
.product-price > .price {
    margin: 0 12px 6px 0;
}
.product-price > .price-discount {
    text-decoration: line-through;
    font-size: 24px;
    color: #bbbbbb;
    font-weight: 500;
    line-height: 1.67;
    margin: 3px 0 0 12px;
}
.product-price > span {
    display: flex;
    flex-direction: row;
    margin: 8px 119px 18px 13px;
    padding: 8px 12px;
    border-radius: 3px;
    background-color: rgba(255, 192, 157, 0.18);
    font-size: 16px;
}
.product-price > span > i {
    margin: -2px 8px 0 0;
    font-size: 16px;
    color: #fd4d35;
}
.product-price > #time > p {
    margin: 0 0 0 8px;
}
.product-color {
    color: #909090;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 17px 1px 12px 0;
}

.color-pick > input {
    width: 48px;
    height: 48px;
    margin: 12px 16px 40px 1px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.color-pick >input:active {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.red {
    background-color: #000000;
}
.orange {
    background-color: #d64d4d;
}
.blue {
    background-color: #2f47c2;
}
.yellow {
    background-color: yellow;
}
.btn-buy-product {
    margin-top: -9px;
}
.btn-buy-product > button {
    font-size: 14px;
    font-weight: bold;
    margin: 0px -10px 1px 0;
    padding: 16px 95px 16px 40px;
    background-color: #20bab1;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    line-height: 1.47;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}
.btn-buy-product > button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.pay-price {
    padding-bottom: 0;
}
.list-content {
    padding-top: 15px;
    padding-left: 8px;
}
.list-content > ul > li {
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    color: #263a39;
    margin: 12px 0 0 12px;
}
.buy-config {
    margin-left: 110px;
    padding-top: 28px;
}
.testomonials {
    background-color: #f8fbfa;
    color: #005b57;
    text-align: center;
    /* padding: 73px 0px; */
    padding-top: 70px;
    padding-bottom: 174px;
}

.testomonials-header > h3 {
    text-align: center;
    font-size: 40px;
    line-height: 1.4;
}
.testomonials-text {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.testomonials-text p{
    margin-top: 29px;
    max-width: 335px;
    font-size: 22px;
    line-height: 1.64;
    text-align: center;
}

.slide-img {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
}
.customer-name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}
.type-customer {
    color: #666666;
}
.para-text {
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    max-width: 370px;
    color: #697776;
}

.mySwiper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    color: #000;
    display: none;
}
.mySwiper > .swiper-button-next {
    background-image: url("/assets/img/arrows/chevron-right.svg");
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
    top: 30%;
}
.mySwiper > .swiper-button-prev {
    background-image: url("/assets/img/arrows/chevron-left.svg");
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: center;
    top: 30%;
}
/* .mySwiper > .swiper-pagination {
    margin-top: 100px;
} */
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    color: #000;
    display: none;
}
div.swiper-pagination > span.swiper-pagination-bullet-active {
    background: #000;
    
}
div.swiper-container div.swiper-button-next {
    font-size: 10px;
}

.fix-padding{
    padding: 48px 0;
    padding-left: 10px;
}
.mask-group {
    background-image: url("../img/Group\ 1196.png");
    background-repeat: repeat;
    background-size: cover;
    position: relative;
}
.mask-group-header > h3{
        padding-left: 125px;
        font-size: 64px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.34;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
}
.mask-group-header > p {
    font-style: italic;
    font-weight: 200;
}
.mask-group-para {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.mask-group-para > p {
    padding-left: 125px;
    padding-top: 25px;
}
.mask-group-btn {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-right: 0px;
    bottom: 200px;

}
.btn-buy-mask-group > button {
    background-color: #ffffff;
    padding: 16px 48px 16px 48px;
    border: none;
    cursor: pointer;
}
.mask-method {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    position: relative;
    bottom: 175px;
}
.btn-buy-mask-group > button:hover {
    opacity: 0.9;
} 
.mask-method > p {
    font-size: 12px;
    color: #666666;
    padding-top: 10px;
    padding-right: 10px;
}
.banner {
    position: absolute;
    top: 65%;
}
.question-footer {
    padding-bottom: 50px;
    padding-top: 150px;
}
.question-header {
    padding-top: 50px;
    font-size: 35px;
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
    color: #005b57;
}
.mask-group > .pay-buy > button {
    padding-left: 125px;
}
.list-question {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 68px 92px 0 92px;
    margin-bottom: -15px;
}
.question {
    padding-bottom: 25px;
}
.question > p {
    font-size: 32px;
    max-width: 770px;
    color: #000;
}
.answer > p {
    font-size: 24px;
    line-height: 1.5;
    color: #666666;
}

.form-buy-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media  (min-width: 992px) and (max-width: 1200px) {
    .row {
        margin: 0 0;
    }
    .col-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .buy-config {
        margin-left: 0;
    }
    .mask-group-header > h3 {
        padding-left: 0;
    }
    .good-sleep {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }
    div.fix-size {
        width: 100%;
        padding: 0 0;
    }
    .product-image {
        display: flex;
        justify-content: center;
        padding: 0 0;
        flex-direction: row;
        padding-top: 20px;

    }
    .deeply > .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .anyposition-img > img {
        margin: 0 0;
    }

    .increase-content {
        margin-left: 0;
    }
    .increase-content-header {
        text-align: center;
        padding: 0 0;
    }
    .increase-img > img { padding-left: 0;}
    .list-content > ul > li {
        list-style-type: none;
    }
    .icon {
        padding: 0 0 ;
    }
    .card-icon {
        padding: 0 0 30px;
    }
    .what-benefit {
        padding-bottom: 0;
    }
    .what-benefit-text > p {
        padding-left: 0;
        text-align: center;
    }
    .product > .row > .col-5 {
        width: 100%;
    }
    .pay-buy {
        padding-left: 0;
    }
    .product-intro {
        padding-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn-buy-product > button {
        padding: 16px 150px 16px 150px;
        margin: 0 0;
    }
    .list-content > ul {
        display: flex;

    }
    .list-content > ul > li {
        margin: 12px 0 0 48px;
    }
    .product-color {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-title {
        max-width: 100%;
    }
    .product-title > p {
        text-align: center;
    }
    .col-5, .col-7 {
        width: 100%;
        margin: 0 0;
    }
    .col-md-5, .col-md-7 {
        width: 100%;
    }
    .mask-group-header > h3 {
        text-align: center;
    }
    .mask-group-para > p {
        text-align: center;
    }
    .banner {
        top: 83%;
    }
    .question-footer {
        padding-top: 165px;
    }
}
@media only screen and (max-width: 991px ) {
    .row {
        margin: 0 0;
    }
    .col-6 {
        padding: 0 0;
        margin: 0 0;
    }
    .col-12 {
        padding: 0;
    }
    .col-7, .col-5 {
        margin: 0 0;
    }
    .product-title {
        max-width: 100%;
    }
    .buy-config {
        margin-left: 0;
    }
    .mask-group-header > h3 {
        padding-left: 0;
    }
    .good-sleep > .zone-good-sleep {
        margin-left: 0;
    }
    .good-sleep {
        display: flex;
        padding: 0 0;
        width: 100%;
        float: none;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
    .good-sleep-text {
        padding: 20px 0;
        text-align: center;
        max-width: 100%;
    }
    .method-pay {
        display: flex;
        align-items: center;
        padding-top: 50px;
        /* text-align: center; */
        justify-content: center;
    }
    .bg-mask-main {
        display: flex;
        flex-direction: column-reverse;
    }
    .mask-content {
        padding: 0 0;

    }
    .mask-content-header {
        text-align: center;
        max-width: 100%;
    }
    .mask-content-text {
        text-align: center;
    }
    .anyposition-img > img {
        padding-left: 0;
        padding-top: 20px;
    }
    .mask-img {
        padding: 0 0 ;
        text-align: center;
    }
    .deeply > .any-where > .row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .increase {
        padding-left: 0;
        text-align: center;
    }
    .increase-content {
        width: 100%;
        margin-left: 0;
    }
    .increase-img {
        text-align: center;
    }
    .increase-img > img {
        width: 100%;
        margin-right: 0;
        padding-left: 0;
    }
    .mask-reverse {
        flex-direction: row-reverse;
    }
    .card-icon {
        width: 81%;
        text-align: center;
        margin: 35px 20px;
        align-items: center;
    }
    .icon {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 0;
    }
    .what-benefit-header {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
        line-height: 1.4;
        margin-bottom: 65px;
    }
    .what-benefit-text {
        padding-bottom: 0;
        text-align: center;
        padding-top: 20px;
    }
    .col-4 {
        width: 100%;
    }
    .col-8 {
        width: 100%;
    }
    .anyposition {
        text-align: center;
        padding: 0 0;
    }
    .anyposition-content {
        width: 100%;
        height: 100%;
    }
    .anyposition-img {
        text-align: center;
    }
    .anyposition-img > img {
        margin: 0;
        width: 100%;
    }
    .fix-size {
        width: 100%;
    }
    .product-intro {
        width: 100%;
        padding-right: 0;
    }
    .product-image {
        padding: 0 0;
    }
    .btn-buy-product {
        text-align: center;
    }
    .col-md-5 {
        flex: 0 0 auto;
        width: 100%;
    }
    .col-md-7 {
        flex: 0 0 auto;
        width: 100%;
    }
    .mask-group-header h3{
        text-align: center;
    }
    .mask-group-para{
        text-align: center;
    }
    .list-content > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .banner {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    .fix-padding{
        padding-bottom: 150px;
    }
    .form-buy-action{
        align-items: center;
    }
}

@media only screen and (max-width: 767px) {
    .banner {
        position: absolute;
        top: 100%;
        left: 24%;
        transform: translateX(-12%);
    }
    .banner > img {
        width: 99%;
    }
    .mask-content-header {
        max-width: 100%;
        text-align: center;
    }
    .row {
        margin: 0 0;
        padding: 0 0;
    }
    .col-6, .col-8 {
        width: 100%;
        padding: 0 0;
        align-items: center;
        display: flex;
        flex-direction: column
    }
    .increase-content {
        margin-left: 0;
    }
    .increase-content-text {
        max-width: 100%;
    }
    .col-anyposition {
        display: block;
    }
    .what-benefit-header > h4 {
        padding-top: 0px;
        padding-left: 0px;
        max-width: 100%;
        line-height: 1.4;
        margin-bottom: 0px;
    }
    .what-benefit-text > p {
        /* text-align: left; */
        max-width: 100%;
        padding-left: 0px;
    }
    .card-icon {
        width: 80%;
        text-align: center;
        margin: 35px 0px;
        align-items: center;
    }
    .col-5, .col-7 {
        margin: 0 0;
    }
    .product-title {
        max-width: 100%;
    }
    .list-content > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .col-12 {
        padding: 0 0;
    }
    .increase-img > img {
        padding-left: 0;
        max-width: 100%;
    }
    .anyposition-content-text {
        max-width: 100%;
    }
}

@media only screen and (max-width: 480px ) {
    .row {
        margin: 0 0;
    }
    .col-6 {
        padding: 0 0;
        margin: 0 0;
    }
    .col-12 {
        padding: 0;
    }
    .col-7, .col-5 {
        margin: 0 0;
    }
    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
        display: none;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        display: none;
    }
    .bg-sleep-health {
        /* height: 5.8%; */
        background-size: cover;
        background-position: center;
    }
    .buy-config {
        margin-left: 0;
    }
    .good-sleep {
        text-align: center;
        float: none;
        min-width: 100%;
    }
    .good-sleep-health {
        font-size: 40px;
        padding-top: 20px;
    }
    .good-sleep-text {
        /* padding-right: 100px; */
        text-align: center;
        font-size: 16px;
    }
    .btn-buy {
        text-align: center;
    }
    .btn-buy > button {
        padding: 15px 40px 15px;
    }
    .method-pay {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pay-buy {
        padding-left: 0;
    }
    .mask-content {
        padding-top: 40px;
        padding-bottom: 0;
        color: #005b57;
    }
    .mask-group-header > h3 {
        padding-left: 0;
        font-size: 22px;
    }
    .mask-content-header > p {
        font-size: 34px;
    }
    .mask-content-text {
        font-size: 18px;
        line-height: 36px;
        /* text-align: left; */
    }
    .mask-group-para > p {
        padding-left: 0;
    }
    .bg-mask-main {
        display: flex;
        flex-direction: column;
    }
    .mask-img {
        padding-right: 0;
        padding-left: 0;
        padding-top: 60px;
    }

    .anyposition-content-icon > img {
        padding-top: 40px;
    }
    .increase-content-icon > img {
        padding: 0;
    }
    .increase-content {
        padding-top: 40px;
    }
    .any-where > .row > .col-4,.any-where > .row > .col-8  {
        width: 100%;
    }
    .anyposition-img > img {
        width: 100%;
        margin: 0 0 ;
    }
    .anyposition {
        padding: 50px 0;
    }
    .anyposition-img > img {
        width: 90%;
    }
    .anyposition-content {
        width: 100%;
    }
    .text-change {
        font-size: 34px;
    }
    .text-change > h4 {
        font-size: 34px;
    }
    .text-change > p {
        font-size: 18px;
    }
    .deeply > .row > .col-4,.deeply > .row > .col-8 {
        width: 100%;
    }
    .increase {
        padding: 50px 0;
    }
    .increase-content {
        width: 100%;
    }
    .increase-img > img {
        width: 90%;
    }
    .mask-reverse {
        flex-direction: column-reverse;
        padding-bottom: 50px;
    }

    .pay-sleep {
        display: flex;
        flex-direction: column;
    }

    .benefit {
        background-color: #f8fbfa;
        color: #005b57;
        padding: 0 0 ;
    }
    .benefit > .row > .col-4, .benefit > .row > .col-8  {
        width: 100%;
    }
    .banner {
        position: absolute;
        top: 95%;
        left: 20%;
        transform: translateX(-10%);
    }
    .banner > img {
        width: 100%;
    }
    .card-icon {
        
    }
    .icon {
        display: flex;
        /* flex-direction: row-reverse; */
        flex-wrap: wrap;
        /* justify-content: space-between; */
        /* padding-left: 90px; */
        /* padding-right: 0; */
    }
    .what-benefit-header {
        font-size: 40px;
        text-align: center;
        padding-top: 242px;
        padding-bottom: 40px;
        line-height: 1.4;
        /* margin-bottom: 65px; */
    }
    .what-benefit-text {
        text-align: center;
    }
    .icon {
        padding-left: 0;
    }
    .list-content > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .list-content > ul > li {
        list-style-type: none;
        margin: 0;
    }
    .product > .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-image {
        padding: 0 0 ;
    }
    .product-image > img {
        width: 100%;
    }
    .product > .row > .col-5,.product > .row > .col-7 {
        width: 100%;
    }
    .product-intro {
        padding-right: 0;
        padding-left: 20px;
    }
    .btn-buy-product {
        text-align: center;
    }
    .btn-buy-product > button {
        /* margin: 0px -10px 1px 0; */
        padding: 16px 10px 16px 10px;
        margin: 0 0 ;
    }
    .mask-group-header > h3 {
        font-size: 46px;
    }
    .product-intro {
        padding-left: 0;
    }
    .product-price > span {
        margin: 8px 13px 8px 13px;
        padding: 8px 0px;
    }
    .color-pick {
        flex-direction: row;
        display: flex;
        justify-content: space-around;
    }
    .color-pick > input {
        margin: 12px 0;
    }
    .testomonials-header {
        font-size: 28px;

    }
    .mask-img > img {
        width: 100%;
    }
    .testomonials-text {
        font-size: 16px;
    }
    .suitable-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .deep-sleep-qa > h2 {
        font-size: 34px;
    }
    .deep-sleep-qa > p {
        font-size: 32px;
    }
    .deep-sleep-text > p {
        font-size: 14px;
        opacity: 1;
    }
    .what-benefit-header > h4 {
        font-size: 32px;
        text-align: center;
    }
    .what-benefit-header {
        padding-top: 20px;
        margin-bottom: 0;
        padding-bottom: 20px;
    }
    .what-benefit-text > p {
        text-align: center;
        font-size: 18px;
    }
    .what-benefit {
        margin-bottom:40px;
    }
    .btn-buy > button {
        padding: 15px 30px 15px;
    }
    .suitable-header {
        font-size: 32px;
        margin: 46.9px 0 40px 0;
    }   
    .suitable-image > p {
        font-size: 28px;
    }
}
