* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
body {
    font-family: 'DM Sans', sans-serif;;
    
}
.container {
    border: 1px solid #bcb5b9;
    padding: 0 0px;
}

.top-header {
    text-align: center;
    background-color: #005b57;
    color: #ffffff;
    padding: 14px 0;
}

.top-header > p > i {
    color: #f9f871;
    height: 16px;
    width: 16px;
    opacity: 0.5;
}
#timeremaining {
    color: #f9f871;
    font-weight: bold;
}
.bg-sleep-health {
    background-image: url("../img/Rectangle\ 1_2021-06-21/a.png");
    width: auto;
    height: 8.5%;
    object-fit: contain;
    background-color: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0.94), rgba(255, 255, 255, 0));
    background-repeat: no-repeat;
}
.good-sleep {
    padding-top: 155.5px;
    width: 37.8888%;
    float: right;
    padding-right: 110px;
}
.good-sleep-health {
    color: #005b57;
    font-size: 72px;
    letter-spacing: -0.72;
    font-style: italic;
    line-height: 1.22;
}
.good-sleep-health-text {
    font-style: normal;
}
.good-sleep-text {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.64;
    text-align: left;
    color: #263a39;
    padding-bottom: 40px;
    padding-top: 24px;
}
.btn-buy > button {
    background-color: #20bab1;
    color: #ffffff;
    border: none;
    padding: 16.5px 101px 16.5px;;
    cursor: pointer;
}
.btn-buy > button:hover {
    opacity: 0.8;
    
}
.method-pay {
    color: #666666;
    text-align: left;
    letter-spacing: 2px;
    font-size: 12px;
    padding-bottom: 155px;
    padding-top: 17px;
}
.method-pay > img {
    position: relative;
    bottom: 20px;
    left: 168px;
}

.bg-mask {

}
.mask-content {
    padding-top: 236px;
    padding-left: 135px;
    padding-bottom: 236px;
    color: #005b57;

}
.mask-content-header {
    color: #005b57;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 40px;
}
.mask-content-text {
    font-size: 22px;
    line-height: 36px;
    text-align: left;
}
.mask-img {
    padding-right: 135px;
    padding-left: 20px;
    padding-top: 60px;
}
.mask-img > img {
    width: 100%;
}
.deeply {
    background-color: #ddebe5;
}
.any-where > img {
    width: 76.4%;
    height: 6.6%;
    padding: 60px 135px;
}
.col-increase {
    
}
.increase {
    text-align: center;
    padding-left: 205px;
}
.increase-content {
    width: 76.4%;
    height: 6.6%;   
    color: #263a39;
    font-size: 20px;

}
.increase-content-header{
    font-size: 39px;
    color: #005b57;
    padding: 32px 0 40px 0;
}
.increase-content-icon > img {
    width: 64px;
    height: 64px;
    padding-top: 100px;
}
.increase-img > img {
    width: 82.6%;
    margin-right: 50px;
}
.increase-content-text {

}


.anyposition {
    text-align: center;
    padding-left: 205px;
    padding-bottom: 180px;
}
.anyposition-content {
    width: 76.4%;
    height: 6.6%;   
    color: #263a39;
    font-size: 20px;

}
.anyposition-content-header{
    font-size: 40px;
    color: #005b57;
    padding: 32px 0 40px 0;
}
.anyposition-content-icon > img {
    width: 64px;
    height: 64px;
    padding-top: 100px;
}
.anyposition-img > img {
    width: 92.6%;
    margin-left: 80px;
    padding-top: 45px;
    height: 8.6%;
}
.anyposition-content-text {
    font-size: 19px;
    line-height: 30px;
}
.main-sleep{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deep-sleep {
    background-color: #20bab1;
    text-align: center;
    color: #ffffff;
}
.deep-sleep-qa > h2 {
    font-size: 48px;
}
.deep-sleep-qa > p {
    font-size: 48px;
    font-style: italic;
    font-weight: 300;
    opacity: 0.8;
}

.deep-sleep-qa {
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 40px;
}
.deep-sleep-text > p {
    opacity: 0.9;
    font-size: 16px;
    line-height: 1.67;
}
.pay-buy {
    padding-top: 40px;
    padding-bottom: 40px;
}
.pay-buy > button {
    background-color: #ffffff;
    color: #263a39;
    border: none;
}
.pay-sleep {
    padding-bottom: 40px;
}
.benefit {
    background-color: #f8fbfa;
    color: #005b57;
    padding-left: 90px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.what-benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-benefit-header {
    font-size: 40px;
    text-align: left;
    padding-top: 242px;
    padding-bottom: 40px;
    line-height: 1.4;
    margin-bottom: 65px;
}
.what-benefit-text {
    font-size: 22px;
    line-height: 1.64;
    text-align: left;
    padding-bottom: 80px;
}
.icon {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 0;
}
.card-icon {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    align-content: space-between;
    width: 41.1%;
    text-align: center;
    box-shadow: 0 24px 36px 0 rgb(0 91 87 / 7%);
    margin: 10px 20px;
}

.icon-img > i {
    font-size: 64px;
    color:#21bab1;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    /* box-shadow: 0 24px 36px 0 rgb(0 91 87 / 7%); */
    margin-top: -30px;
}
.header-icon {
    padding: 27px 0 0 0;
}
.sub-icon-img {
    padding: 24px 0 40px 0 ;
}
.suitable {
    padding-bottom: 80px;
}
.suitable-header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.4;
    color: #005b57;
    margin: 80.9px 0 40px 0;
}
.card-suitable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 70px;
    background-color: #ffffff;
    object-fit: contain;
}

.suitable-image > p {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 8px 67px 8px 98px;
    text-align: center;
    margin-top: -50px;
    overflow: hidden;
    margin-bottom: 3px;
    top: -20px;
    background-color: #ffffff;
}
.product {
    border-top: 1px solid #eeeeee;
}
.product-image {
    padding: 292px 115px 363px 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-intro {
    padding-right: 115px;
}
.product-sleep-mask > p {
    color: #20bab1;
    padding-top: 80px;
    font-size: 16px;
    text-align: left;
    letter-spacing: 2px;
    margin: 0 13px 8px 0;
    font-weight: bold;
}
.product-title > p {
    font-size: 24px;
    line-height: 1.67;
    color: #000000;
    text-align: left;
    font-weight: bold;
    margin: 8px 0px 16px 0;
}
.product-rate > p {
    color: #fdb01a;
    font-size: 24px;
    margin: 16px 8px 24px 0;
}

.product-price {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    line-height: 1;
    text-align: left;
    font-weight: bold;
}
.product-price > .price {
    margin: 0 12px 6px 0;
}
.product-price > .price-discount {
    text-decoration: line-through;
    font-size: 24px;
    color: #bbbbbb;
    font-weight: 500;
    line-height: 1.67;
    margin: 3px 0 0 12px;
}
.product-price > span {
    display: flex;
    flex-direction: row;
    margin: 8px 119px 18px 13px;
    padding: 8px 12px;
    border-radius: 3px;
    background-color: rgba(255, 192, 157, 0.18);
    font-size: 16px;
}
.product-price > span > i {
    margin: -2px 8px 0 0;
    font-size: 16px;
    color: #fd4d35;
}
.product-price > #time > p {
    margin: 0 0 0 8px;
}
.product-color {
    color: #909090;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 30px 1px 12px 0;
}

.color-pick > input {
    width: 48px;
    height: 48px;
    margin: 12px 16px 40px 1px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.color-pick >input:active {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.red {
    background-color: #000000;
}
.orange {
    background-color: #d64d4d;
}
.blue {
    background-color: #2f47c2;
}
.yellow {
    background-color: yellow;
}

.btn-buy-product > button {
    font-size: 14px;
    font-weight: bold;
    margin: 0px -10px 1px 0;
    padding: 16px 63px 16px 40px;
    background-color: #20bab1;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    line-height: 1.47;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}
.btn-buy-product > button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.pay-price {
    padding-bottom: 0;
}
.list-content > ul > li {
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    color: #263a39;
    margin: 12px 0 0 12px;
}
.testomonials {
    background-color: #f8fbfa;
    color: #005b57;
    text-align: center;
    padding: 80px 73px;
}
.testomonials-header {
    text-align: center;
    margin: 0 343px 24px 343px;
    font-size: 40px;
    line-height: 1.4;
}
.testomonials-text {
    margin: 24px 446.5px 40px;
    font-size: 22px;
    line-height: 1.64;
}

.slide-img {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.customer-name {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    /* margin: 15px 112px 16px; */
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}
.type-customer {
    color: #666666;
}
.para-text {
    margin: 16px 30px 51px;
    font-size: 18px;
    line-height: 1.56;
    color: #697776;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    color: #000;
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    color: #000;
}
div.swiper-pagination > span.swiper-pagination-bullet-active {
    background: #000;
}
div.swiper-pagination {
    margin-bottom: 40px;
}

.mask-group {
    background-image: url("../img/Group\ 1196.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 135px;
    padding-right: 135px;
    height: 4.2%;
}
.mask-group-header {
    font-size: 46px;
    color: #ffffff;
    line-height: 1.34;
    text-align: left;
    padding-top: 50px;
}
.mask-group-header > p {
    font-style: italic;
    color: #ffffff;
}
.mask-group-para {
    margin: 24px 600px 0 0;
    font-size: 18px;
    line-height: 1.67;
    color: #ffffff;
}
.mask-group-btn {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-right: 0px;
    bottom: 200px;

}
.btn-buy-mask-group > button {
    background-color: #ffffff;
    padding: 16px 48px 16px 48px;
    border: none;
    cursor: pointer;
}
.mask-method {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    position: relative;
    bottom: 175px;
}
.btn-buy-mask-group > button:hover {
    opacity: 0.9;
} 
.mask-method > p {
    font-size: 12px;
    color: #666666;
    padding-top: 10px;
    padding-right: 10px;
}
.banner {
    display: flex;
    position: relative;
    /* left: 529px; */
    bottom: 118px;
    justify-content: flex-end;
}
.banner > img {
    width: 47.1%;
    height: 2.8%;
}
.question-footer {
    padding-bottom: 50px;
}
.question-header {
    font-size: 40px;
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
    color: #005b57;
}

.list-question {
    padding-top: 50px;
}
.question > p {
    font-size: 32px;
    color: #000;
}
.answer > p {
    font-size: 24px;
    line-height: 1.5;
    color: #666666;
}

.form-buy-action {
    bottom: 80px;
    position: relative;
    margin-left: 590px;
    margin-top: -153px;
}
/* reponsive */
@media only screen and(max-width: 991px ) {

}
@media only screen and (max-width: 414px ) {
    .bg-sleep-health {
        /* height: 5.8%; */
        background-size: cover;
        background-position: center;
    }
    .good-sleep {
        text-align: center;
        float: none;
        min-width: 100%;
    }
    .good-sleep-health {
        font-size: 64px;
    }
    .good-sleep-text {
        /* padding-right: 100px; */
        text-align: center;
    }
    .btn-buy {
        text-align: center;
    }
    .btn-buy > button {
        padding: 25px 40px 25px;
    }
    .method-pay {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mask-content {
        padding-top: 40px;
        padding-left: 20px;
        padding-bottom: 0;
        color: #005b57;
    }
    .mask-content-text {
        font-size: 22px;
        line-height: 36px;
        /* text-align: left; */
    }
    .bg-mask-main {
        display: flex;
        flex-direction: column;
    }
    .mask-img {
        padding-right: 0;
        padding-left: 0;
        padding-top: 60px;
    }

    .any-where > .row > .col-4,.any-where > .row > .col-8  {
        width: 100%;
    }
    .anyposition-img > img {
        width: 100%;
        margin: 0 0 ;
    }
    .anyposition {
        padding: 50px 0;
    }
    .anyposition-content {
        width: 100%;
    }
    .deeply > .row > .col-4,.deeply > .row > .col-8 {
        width: 100%;
    }
    .increase {
        padding: 50px 0;
    }
    .increase-content {
        width: 100%;
    }
    .increase-img > img {
        width: 100%;
    }
    .mask-reverse {
        flex-direction: column-reverse;
        padding-bottom: 50px;
    }

    .pay-sleep {
        display: flex;
        flex-direction: column;
    }
    .method-pay > img {
        position: relative;
        bottom: 0;
        left: 0;
    }

    .benefit {
        background-color: #f8fbfa;
        color: #005b57;
        padding: 0 0 ;
    }
    .benefit > .row > .col-4, .benefit > .row > .col-8  {
        width: 100%;
    }
    .card-icon {
        width: 100%;
    }
    .icon {
        display: flex;
        /* flex-direction: row-reverse; */
        flex-wrap: wrap;
        /* justify-content: space-between; */
        /* padding-left: 90px; */
        /* padding-right: 0; */
    }
    .what-benefit-header {
        font-size: 40px;
        text-align: center;
        padding-top: 242px;
        padding-bottom: 40px;
        line-height: 1.4;
        /* margin-bottom: 65px; */
    }
    .what-benefit-text {
        text-align: center;
    }
    .icon {
        padding-left: 0;
    }

    .product > .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-image {
        padding: 0 0 ;
    }
    .product-image > img {
        width: 100%;
    }
    .product > .row > .col-5,.product > .row > .col-7 {
        width: 100%;
    }
    .product-intro {
        padding-right: 0;
    }
    .btn-buy-product {
        text-align: center;
    }
    .btn-buy-product > button {
        /* margin: 0px -10px 1px 0; */
        padding: 16px 10px 16px 10px;
    }
}