* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
body {
    font-family: 'DM Sans', sans-serif;;
}
.header {

}

.top-header {
    text-align: center;
    background-color: #005b57;
    color: #ffffff;
    padding: 14px 0;
}

.top-header > p > i {
    color: #f9f871;
    height: 16px;
    width: 16px;
    opacity: 0.5;
}
#timeremaining {
    color: #f9f871;
    font-weight: bold;
}

.bg-sleep-health {    
    background-size: contain;
    background-image: url("../img/rectangle\ \(1\).png");
    background-repeat: no-repeat;
}
.contain-sleep-health {
    margin: 155.5px ;
    
}
.health-header {
    color: #005b57;
}
.health-header{
    font-size: 72px;
    margin: 0 0 24px;
    font-weight: bold;
        &-text {
    
    }
}

.about-header > p {
    color: #263a39;
    margin: 0 0 24px;
}
.btn-sleep-deepy {
    margin: 0 0 24px;
}
.btn-sleep-deepy > button {
    border: none;
    background-color: #20bab1;
    padding: 14px 32px;
}